@import "polyfills/math-div.scss";
@import "libraries/math/degrees-to-radians.scss";
@import "libraries/math/factorial.scss";

@function math-cos($angle) {
   @if unit($angle) == "deg" {
      $angle: math-degrees-to-radians($angle);
   }

   $sign:   -1;
   $result:  1;
   
   $numer: 1;
   $denom: 1;
   $i: 1;
   @while $i <= 10 {
      $numer: $numer * $angle * $angle;
      $denom: $denom * math-factorial-to(2 * $i, 2 * ($i - 1));
      
      $result: $result + math-div($sign * $numer, $denom);
      
      $i:    $i + 1;
      $sign: $sign * -1;
   }
   @return $result;
}