
@import "utils";
@import "utils/for-smartphones-only.mixin.scss";
@import "theme-mixins";
@import "fonts";
@import "theme-config/scrollbars.scss";
@import "widgets/card.scss";

$cobb-common-visual-was-imported: false !default;
@if not $cobb-common-visual-was-imported { /* start include guard */
$cobb-common-visual-was-imported: true;

:root {
   color-scheme: light;
}

[hidden] {
   display: none !important;
}

a:link { color:#0066cc; }
a:link:visited,
a:visited { color:#801490; }

code {
   font-family: $theme-code-font-family;
}

h1 { font-size:2.00rem; }
h2 { font-size:1.75rem; }
h3 { font-size:1.50rem; }
h4 { font-size:1.35rem; }
h5 { font-size:1.25rem; }
h6 { font-size:1.10rem; }
:is(h1,h2,h3,h4,h5,h6) {
   font-family: $theme-header-font-family;
   line-height: 1.2em;
}
:is(h1,h2,h3,h4,h5,h6) code {
   font-family: $theme-header-code-font-family;
}
h1, h2 {
   margin:0.83em 0;
}
h3, h4, h5, h6 {
   margin:1.00em 0;
}

:is(ol, ul)>li {
   margin:1em 0;
}
p{margin:1em 0}

*:first-child{margin-top:0}
*:last-child{margin-bottom:0}

// text size tweaks
//
// NOTE: if we ever actually add form controls to the site, we'll need 
//       similar tweaks for those, too.
//
@include for-smartphones-only {
   html {
      font-size: 1.25rem;
   }
}
@include for-smartphones-only-portrait {
   html {
      font-size: 2.37rem;
   }
}

//
// Specific theming and site layout
//

html {
   @include theme-background();
}
body{
   font-family: $theme-body-font-family;
   line-height:1.7em;
   
   margin:0;
   padding:0 0 7rem 0;
}
   #content {
      width:960px;
      margin:0 auto;
      
      >header{
         h1{
            font-size:2.5rem;
            font-weight:bold;
         }
      }
   }
      main{flex:1 1 760px}

main>section {
   @include card;
   
   &>:first-child:is(h1, h2, h3, h4, h5, h6) {
      padding-top:1rem;
   }
   &>:first-child:is(h1, h2, h3, h4, h5, h6)~*:last-child {
      margin-bottom:1rem;
   }
   
   // spacing
   &+section {
      margin-top:4rem;
   }
}

/* end include guard */ }

@import "layout-elements/grand-header.scss";
@import "layout-elements/site-footer.scss";