
@import "utils";

$font-pixelify-sans: (
   //
   // Used for <code/> tags inside of page titles.
   //
   "name":     "Pixelify Sans",
   "base":     "pixelify-sans",
   "display":  "block",
   "style":    "normal",
   
   // Normal "Pixelify Sans" is about as bold as bold "Raleway," so lie to 
   // the browser about the former font's weight so it renders thinner. We 
   // only plan on using it in bolded headers, after all.
   "weight":   600,
   
   "charsets": (
      "cyrillic":     $font-charset-cyrillic,
      "latin":        "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD",
      "latin-ext":    "U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF",
   ),
   
   //
   // Adjust size and line box to be more consistent with Raleway.
   //
   // (This font's natural ascender and descender percentages are 92% and -28%, respectively.)
   //
   "size-adjust":      115%,
   "ascent-override":  92% * (100 / 115),
   "descent-override": 100% - (92% * (100 / 115)),
);

/* start include guard */
$include-guard-fonts-for-articles: false !default;
@if not $include-guard-fonts-for-articles {
   $include-guard-fonts-for-articles: true;

@include font-faces-from-font-info($font-pixelify-sans);

/* end include guard */
}