
@import "utils";

$cobb-common-visual-was-imported: true;

$theme-background-color: #AAA !default;
$theme-gradient-background-layers: apply-all-to(
   (
      "attach": "fixed",
   ),
   wrap-items-in-key("image",
      linear-gradient(to top,
         #00000020,
         transparent 90%
      ),
      radial-gradient(circle at center,
         #FFFFFF80,
         #FFFFFF40 80%,
         transparent
      ),
      radial-gradient(circle at top,
         #35406e,
         transparent 80%
      ),
      linear-gradient(to bottom,
         #35406e,
         transparent 80%
      ),
      linear-gradient(to bottom,
         #35406e,
         transparent 80%
      ),
      radial-gradient(600vh at center -240vh,
         transparent,
         transparent 40%,
         #F99875 43%,
         #F99875 50%,
         #754f57 70%,
         #654e62 72%
      )
   )
) !default;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Source+Sans+Pro&display=swap');

$card-back-color:  #FFF;
$card-text-color:  #000;
$card-corner-size: 1rem;

h1, h2, h3, h4, h5, h6 {
   font-family:'Raleway',"Segoe UI","Source Sans Pro",sans-serif;
}
h1 { font-size:2.00rem; }
h2 { font-size:1.75rem; }
h3 { font-size:1.50rem; }
h4 { font-size:1.35rem; }
h5 { font-size:1.25rem; }
h6 { font-size:1.10rem; }
:is(h1,h2,h3,h4,h5,h6) {
   line-height:1.2em;
}
h1, h2 {
   margin:0.83em 0;
}
h3, h4, h5, h6 {
   margin:1.00em 0;
}

:is(ol, ul)>li {
   margin:1em 0;
}
p{margin:1em 0}

*:first-child{margin-top:0}
*:last-child{margin-bottom:0}

/*
   styles for smartphones. there's no good query for these, so we have 
   to go with:
   
    - device has a screen
    - device does not have a pointer that can "hover" over things
    - maximum aspect ratio ensures we only affect portrait orientation
    
*/
@mixin for-smartphones-only {
   @media only screen and (hover: none) and (max-aspect-ratio:3/5) {
      @content;
   }
}

/*
   Common theming
*/

@mixin content-card-shadow($inset: false) {
   $-inset-str: unquote("");
   @if $inset {
      $-inset-str: inset;
   }
   
   /* Overlaying several subtle shadows results in a softer, gentler look: */
   box-shadow:
      $-inset-str 0  0px  4px rgba(0, 0, 0, 0.05),
      $-inset-str 0  5px  6px rgba(0, 0, 0, 0.05),
      $-inset-str 0  6px  8px rgba(0, 0, 0, 0.06),
      $-inset-str 0  8px 10px rgba(0, 0, 0, 0.06),
      $-inset-str 0 10px 12px rgba(0, 0, 0, 0.07),
      $-inset-str 0 20px 24px rgba(0, 0, 0, 0.07),
      $-inset-str 0 30px 36px rgba(0, 0, 0, 0.08);
}
$content-card-shadow-max-size:36px;

@mixin content-card {
   background:$card-back-color;
   color:$card-text-color;
   border-radius:$card-corner-size;
   padding:1.5em 2em;
   @include content-card-shadow(false);
}
@mixin content-card-cutout {
   @include theme-background();
   
   border-radius:1rem;
   padding:1rem;
   @include content-card-shadow(true);
}

@mixin scanline-bg-params {
   --pinstripe-color:rgba(0, 0, 0, 0.06);
   --pinstripe-width:1;
   --pinstripe-gap:2;
   
   --pinstripe-adapt:calc(100% / ((var(--pinstripe-width) + var(--pinstripe-gap)) * 2));
   --pinstripe-x-a:var(--pinstripe-width);
   --pinstripe-x-b:calc(var(--pinstripe-x-a) + var(--pinstripe-gap));
   --pinstripe-x-c:calc(var(--pinstripe-x-b) + var(--pinstripe-width));
}

@mixin theme-background($include-gradients: true, $include-scanlines: true) {
   $all-backgrounds: ();

   @if $include-gradients {
      $all-backgrounds: $theme-gradient-background-layers;
   }
   @if $include-scanlines {
      @include scanline-bg-params;
      
      $scanline-bg: (
         "image": quote(linear-gradient(to bottom,
               var(--pinstripe-color) 0%,
               var(--pinstripe-color) calc(var(--pinstripe-adapt) * var(--pinstripe-x-a)),
               transparent            calc(var(--pinstripe-adapt) * var(--pinstripe-x-a)),
               transparent            calc(var(--pinstripe-adapt) * var(--pinstripe-x-b)),
               var(--pinstripe-color) calc(var(--pinstripe-adapt) * var(--pinstripe-x-b)),
               var(--pinstripe-color) calc(var(--pinstripe-adapt) * var(--pinstripe-x-c)),
               transparent            calc(var(--pinstripe-adapt) * var(--pinstripe-x-c))
            )),
         "attach": "fixed",
         "repeat": "repeat",
         "size":   "10px calc((var(--pinstripe-width) + var(--pinstripe-gap)) * 2px)"
      );
      
      $all-backgrounds: list-prepend($all-backgrounds, $scanline-bg);
   }
   
   background: unpack-backgrounds($all-backgrounds), $theme-background-color;
}

/*
   Specific theming and site layout
*/

html {
   @include theme-background();
}
body{
   font-family:"Segoe UI","Source Sans Pro",sans-serif;
   line-height:1.7em;
   
   margin:0;
   padding:0 0 7rem 0;
}
   #content {
      width:960px;
      margin:0 auto;
      
      >header{
         h1{
            font-size:2.5rem;
            font-weight:bold;
         }
      }
   }
      main{flex:1 1 760px}

.grand-header {
   text-align:center;
   margin:4rem 0;
   color:#FFFFFF;
   /* Overlaying several subtle shadows results in a softer, gentler look: */
   text-shadow:
       0   0  2px #000000,
       0   0  3px #000000,
       2px 0  4px rgba(0, 0, 0, 0.30),
      -2px 0  4px rgba(0, 0, 0, 0.30),
       4px 0  6px rgba(0, 0, 0, 0.20),
      -4px 0  6px rgba(0, 0, 0, 0.20),
       8px 0  8px rgba(0, 0, 0, 0.15),
      -8px 0  8px rgba(0, 0, 0, 0.15),
      12px 0 12px rgba(0, 0, 0, 0.10),
     -12px 0 12px rgba(0, 0, 0, 0.10);
   
   &.no-descenders {
      line-height:1.7rem;
   }
}

main>section {
   @include content-card;
   
   &>:first-child:is(h1, h2, h3, h4, h5, h6) {
      padding-top:1rem;
   }
   &>:first-child:is(h1, h2, h3, h4, h5, h6)~*:last-child {
      margin-bottom:1rem;
   }
   
   /* spacing */
   &+section {
      margin-top:4rem;
   }
}

body>footer {
   margin-top:7rem;
   text-align:center;
   
   ul {
      display:flex;
      flex-flow:row nowrap;
      gap: 2em;
      width:min-content;
      
      list-style:none;
      padding:0;
      margin:0 auto;
   }
   li {
      margin:0;
   }
   a {
      display:block;
      padding:.25em 1em;
      
      @include content-card-shadow(false);
      background:$card-back-color;
      border-radius:$card-corner-size;
      
      text-transform:lowercase;
      text-decoration:none;
      
      transition-property:box-shadow;
      transition-duration: 0.2s; /* fast mouseout anim */
      &:hover {
         transition-duration: 1s; /* medium-speed mouseover anim */
         box-shadow: 
            0 0 6px #FFF,
            0 .5em 12px #FFFFFFA0,
            0 .5em 24px #FFFFFF80,
            0 -1em 32px #FFFFFF60,
            .5em -.75em 32px #FFFFFF60,
            -.5em -.75em 32px #FFFFFF60
         ;
      }
   }
}

@include for-smartphones-only {
   /* text size tweaks */
   html {
      font-size:clamp(1rem, calc(1rem + 1vh), 2.5rem);
   }
   
   body>footer ul {
      flex-flow:column nowrap;
   }
}