
/* start include guard */
$include-guard-syntax-highlighting: false !default;
@if not $include-guard-syntax-highlighting {
   $include-guard-syntax-highlighting: true;

.highlight .language-cpp {
   .c1 { /* comment */
      color:#958;
   }

   .k,   /* keyword: general */
   .kt { /* keyword: type */
      color:#C62;
      font-weight:bold;
   }
   .mi { /* integer? */
      color:#362;
   }
   .n  { /* name: general */
   }
   .nb { /* name: boolean */
      color:#C62;
      font-weight:bold;
   }
   .nf { /* name: function */
      color:#321;
      font-weight:bold;
   }
   
   .o { /* operator (includes scope-resolution operator and reference type suffix) */
      color:#446644;
      font-weight:bold;
   }
   
   .p { /* punctuation (parens, braces) */
      color:#666;
      font-weight:bold;
   }
}

.highlight .language-css {
   .c { /* comment */
      color:#958;
   }
   .cp { /* !important */
      color:#FF7400;
   }
   
   .m  { /* value? */
   }
   .nd { /* name: pseudoclass */
      color:#339053;
   }
   .nl { /* name: property */
      color:#225070;
   }
   .nt { /* name: tag */
      color:#C62;
   }
   
   .p { /* punctuation (parens, braces) */
      color:#666;
      font-weight:bold;
   }
}

/* end include guard */
}