
$card-back-color:  #FFF;
$card-text-color:  #000;
$card-corner-size: 1rem;

@import "libraries/borderimage";

///
/// Cards are white boxes with rounded corners and a soft, realistic shadow. 
/// The shadow is implemented with box-shadow by default, but on smartphones, 
/// we fall back to a `border-image` for performance reasons. A consequence 
/// of this is that the border image may clobber any custom background image 
/// that you add to a card. Additionally, border images don't crop properly 
/// for small boxes, so we offer a parameter for disabling the fallback.
///
/// We also provide a "card cutout" mixin, which when applied to an element 
/// creates a region with rounded corners where the page background appears 
/// to show through.
///

//

///
/// Display a card shadow as a border-image, and optionally clip off specific 
/// edges so they don't cover anything. (The latter functionaliy exists for 
/// our mobile-specific top navbar.)
///
@mixin card-shadow-border-image($inset: false, $clip-shadow-edges: null, $image-includes-box-background: false) {
   /* crbug.com/1417526 -- Chromium fails to render border-images without a non-zero border-width */
   border: 1px solid transparent;
   
   @if $inset {
      /*
      border-image: url("./card-shadow-inset.svg") 41 29 17 / 2.5625rem 1.8125rem 1.0625rem / 0;
      min-height:calc(3.625em - 2px);
      */
      
      border-image: url("./card-shadow-inset.webp") 82 58 34 / 2.5625rem 1.8125rem 1.0625rem / 0;
      min-height:calc(3.625em - 2px);
   } @else {
      $borderimage: (
         source:    url("./card-shadow-outset-no-fill.webp"),
         intrinsic: 144     144    164     144,
         displayed: 4.5em   4.5em  5.125em 4.5em,
         //displayed: 72px 72px 82px 72px,
         outsets:   0.375em 2.25em 4.125em 2.25em,
         //outsets:   6px 36px 132px 36px,
         repeat:    repeat
      );
      @if $image-includes-box-background {
         $borderimage: map-set(
            $borderimage,
            "source", 
            url("./card-shadow-outset.webp")
         );
      }
      
      @if $clip-shadow-edges {
         $borderimage: borderimage-clip-sides($borderimage, $clip-shadow-edges);
      }
      
      border-image: borderimage-to-string($borderimage);
   }
}

@mixin card-mobile-fallback-hack($inset: false, $clip-shadow-edges: null) {
   @if $inset {
      /*
         Having too many box-shadows on-screen at one time can cause lag for weaker devices, 
         such as smartphones. For that reason, we're going to have inset card shadows fall 
         back to using a border-image instead of multiple box-shadows. The result will look 
         marginally less pretty, but not too noticeably so.
      */
      @include for-smartphones-only {
         box-shadow: none;
         @include card-shadow-border-image(true);
      }
   } @else {
      @include for-smartphones-only {
         box-shadow: none;
         @at-root {
            //
            // Drop back to the root so we can use :where(...) with SASS interpolation, to 
            // apply `position: relative` with the lowest possible priority.
            //
            :where(#{&}) {
               position: relative;
            }
         }
         &::after {
            content:  " ";
            position: absolute;
            z-index:  -1;
            inset:    0;
            
            user-select:    none;
            pointer-events: none;
            
            @include card-shadow-border-image(false, $clip-shadow-edges);
         }
      }
   }
}

@mixin card-shadow($inset: false, $use-mobile-fallback: true, $clip-shadow-edges: false) {
   $-inset-str: unquote("");
   @if $inset {
      $-inset-str: inset;
   }
   
   box-shadow:
      $-inset-str 0  0px  4px rgba(0, 0, 0, 0.05),
      $-inset-str 0  5px  6px rgba(0, 0, 0, 0.05),
      $-inset-str 0  6px  8px rgba(0, 0, 0, 0.06),
      $-inset-str 0  8px 10px rgba(0, 0, 0, 0.06),
      $-inset-str 0 10px 12px rgba(0, 0, 0, 0.07),
      $-inset-str 0 20px 24px rgba(0, 0, 0, 0.07),
      $-inset-str 0 30px 36px rgba(0, 0, 0, 0.08);
   
   @if $use-mobile-fallback {
      @include card-mobile-fallback-hack($inset, $clip-shadow-edges);
   }
}

@mixin card($use-mobile-fallback: true) {
   background:    $card-back-color;
   color:         $card-text-color;
   border-radius: $card-corner-size;
   padding:       1.5rem 2rem;
   @include card-shadow(false, $use-mobile-fallback);
}

///
/// Allow the page background to show through a "hole" cut through a card widget. This 
/// means applying the page background to the card cutout as a fixed-attachment layer, 
/// which performs suboptimally in web browsers, with the effects generally felt on 
/// mobile. We work around this through a relatively arcane set of performance tweaks.
///
@mixin card-cutout {
   @include theme-background();
   
   border-radius: 1rem;
   padding:       1rem;
   @include card-shadow(true);
   
   // Help with performance optimizations (see below). This seems to have a slight 
   // beneficial effect on scrolling frame rate when testing on my phone.
   isolation: isolate;
}
@mixin card-in-cutout {
   @include card;
   @include card-mobile-fallback-hack;
   
   //
   // As noted in the documentation for the `theme-background` mixin, the popular 
   // optimization for fixed-attachment backgrounds only works for the whole page's 
   // background, and not for things like our cutouts.
   //
   // The solution? If we can't move the cutout's background to a separate layer 
   // for compositing, then move its contents to separate layers for compositing 
   // instead. Thus, `will-change: transform` here on cards-in-cutouts.
   //
   will-change: transform;
   
   @include for-smartphones-only {
      //
      // The `will-change: transform` property has the additional effect of creating 
      // a new stacking context for cards-in-cutouts, which affects how these cards' 
      // border-images stack: specifically, it forces the border-image to "cut into" 
      // the cards' own backgrounds and rounded corners.
      //
      // To mitigate this, we have a separate border-image graphic which includes the 
      // background color and rounded corners.
      //
      &::after {
         @include card-shadow-border-image(false, null, true);
      }
   }
}

@mixin revert-card-shadow-styles {
   box-shadow:   none;
   border-image: none;
   &::after {
      content: "";
      border-image: none;
   }
}