@function str-replace($string, $substring, $target) {
   $i: str-index($string, $substring);
   @if $i == null {
      @return $string;
   }
   
   $ssize: str-length($substring);
   
   $out: "";
   @while $i != null {
      $out:    $out + str-slice($string, 1, $i - 1) + $target;
      $string: str-slice($string, $i + $ssize);
      $i:      str-index($string, $substring);
   }
   $out: $out + $string;
   @return $out;
}