---
---

@import "utils";
@import "theme-mixins";

main p {
   text-align:justify;
   
   /* override line height */
   line-height:1.5em;
}

/*

   below: article content styles

*/

/* decorative */
mark {
   background:#FC0;
}
mark.mark-1 {
   background:#FC0; /*orange*/
}
mark.mark-2 {
   background:#8FA; /*green*/
}
mark.mark-3 {
   background:#BCF; /*blue*/
}
mark.mark-4 {
   background:#F9C; /*pink*/
}
mark.mark-5 {
   background:#ED9; /*beige*/
}
mark.mark-6 {
   background:#D8E0F0; /*silver*/
}

lu-math {
   del {
      text-decoration: none;
   }
   :is(del:not(.invis), .del) {
      $stripe-width: 6px;
      $padding: .05em;
      
      border:1px solid rgba(0, 0, 0, 0.1);
      padding: $padding;
      padding-bottom: $padding + .10em;
      margin: 0 calc(#{-$padding} - 1px);
      border-radius: .25em;
   
      background:
         repeating-linear-gradient(45deg, #FF000040 0 #{$stripe-width}, #FF000000 #{$stripe-width} #{$stripe-width * 2}),
         #FF000030;
   }
}

lu-math {
   $badge-explanation-button: true;
   
   $explanation-border-radius: .2rem;

   .toggle-explanation {
      font-family: $theme-body-font-family;
   }
   @if $badge-explanation-button {
   
      $badge-explanation-match-corners: true;
   
      $padding: .125rem;
      $margin:  .250rem;
      
      @if $badge-explanation-match-corners {
         $margin: 0;
      }
   
      .toggle-explanation {
         /*grid-row: expl-margin-top / expl-margin-bottom;*/
         position: relative;
         
         font-size: 0;
         width:     1.2rem + $padding * 2;
         height:    1.2rem + $padding * 2;
         border-radius: 50%; /* :hover and click interactions are based on SUMMARY's hitbox, not ::after's hitbox */
         
         align-self:   center;
         justify-self: start;
         
         margin-left: $margin;
         
         &::after {
            content: "?";
            
            display: inline-block;
            width:   1.2rem;
            height:  1.2rem;
            padding: $padding;
            
            border-radius: 50%;
            cursor: pointer;
            
            font-size:   1.2rem;
            line-height: 1.2rem;
            text-align:  center;
            background:  #E8E8E8;
         }
         &:hover::after {
            background:#FF7400;
         }
      }
      @if $badge-explanation-match-corners {
         .explanation[open]>.toggle-explanation {
            &::after {
               border-radius: 50% 50% $explanation-border-radius $explanation-border-radius;
            }
         }
      }
   } @else {
      .toggle-explanation {
         border-radius:$explanation-border-radius;
         font-family: $theme-body-font-family;
         cursor: pointer;
         
         width:min-content;
         white-space:nowrap;
         padding:.5em 1em;
         background:#E8E8E8;
      }
   }
   .explanation>aside {
      border-radius:$explanation-border-radius;
      font-family: $theme-body-font-family;
      padding:.5em 1.5em;
      background:#E8E8E8;
      
      p {
         text-align: left;
         text-align: inline-start;
      }
   }
}
:is(
   lu-math.announce-marks,
   lu-math .announce-marks
) {
   mark {
      &::before,
      &::after {
         @include screen-reader;
      }
      &::after {
         content: "[mark end]";
      }

      &,
      &.mark-1 {
         &::before { content: "[mark orange start]" }
      }
      &.mark-2 {
         &::before { content: "[mark green start]" }
      }
      &.mark-3 {
         &::before { content: "[mark blue start]" }
      }
      &.mark-4 {
         &::before { content: "[mark pink start]" }
      }
      &.mark-5 {
         &::before { content: "[mark beige start]" }
      }
      &.mark-6 {
         &::before { content: "[mark silver start]" }
      }
   }
}

section>aside {
   border-radius:1rem;
   border:4px solid #FF7400;
   padding:1.5rem 2rem;
   /*margin:1rem -1rem;*/
   margin:1.5rem 0;
   
   
   box-shadow:
      0  0px  4px rgba(70, 30, 0, 0.05),
      0  5px  6px rgba(70, 30, 0, 0.05),
      0  6px  8px rgba(70, 30, 0, 0.06),
      0  8px 10px rgba(70, 30, 0, 0.06),
      0 10px 12px rgba(70, 30, 0, 0.07),
      inset 0  0px  4px rgba(70, 30, 0, 0.05),
      inset 0  5px  6px rgba(70, 30, 0, 0.05),
      inset 0  6px  8px rgba(70, 30, 0, 0.06);
}

.card-cutout {
   @include content-card-cutout;
}
figure.card-cutout>.wrap {
   @include content-card;
   width:min-content;
   margin:0 auto;
}

figure.multi-figure {
   display:flex;
   flex-flow:row nowrap;
   justify-content:center;
   gap:4rem;
   
   >.wrap {
      margin:0;
   }
}

figure.mathematical-graph {
   margin:1em 0;
   text-align:center;
   
   &.card-cutout {
      padding:2em 1em;
   }
   
   >.graph {
      display:inline-block;
      margin:0 1em;
      
      &:first-child:last-child {
         display:block;
         margin:0 auto;
      }
   }
   &.card-cutout>.graph {
      @include content-card;
      
      padding:1rem;
      border-radius:1rem;
   }
}