---
---

$inline-asides-on-smartphone: true !default;

@import "common-visual.scss";
@import "utils.scss";

section {
   &.published-work {
      text-align:justify;
   }
   &::after {
      content:" ";
      font-size:0;
      clear:both;
   }
}
   aside {
      float:right;
      margin-left:2.5rem;
      
      >img:first-child:last-child {
         border:1px solid #888;
      }
      >iframe {
         border:0;
      }
         
      /* safe maximum width, for mobile devices in portrait orientation */
      max-width:calc(100% - 24ch);
      >img,
      >iframe {
         max-width:100%;
      }
   }
   section>*:last-child{
      margin-bottom:0;
   }

.extra-links {
   list-style:none;
   padding:0;
   margin:0;
   clear:both;
   text-align:initial;
   
   li {
      display:inline;
      margin:0;
      padding-right:1em; /* margin results in odd and inconsistent indentation when word-wrapping */
   }
   li.screen-reader-only:not(:focus, :focus-within) {
      @include screen-reader;
   }
   
   a {
      display:inline-block;
      padding:.25em;
      text-decoration:none;
   }
   
   a::before {
      content:" ";
      display:inline-block;
      color-scheme:light dark;
      width:1em;
      height:1em;
      margin-right:.5em;
      vertical-align:-10%;
      background-size:1em 1em;
      background-image:url(icons/generic.png);
   }
   li.github a::before {
      background-image:url(icons/github.png);
      color-scheme:light;
   }
   li.nexus a::before {
      background-image:url(icons/nexusmods.png);
   }
}

@include for-smartphones-only-portrait {
   /* additional text size tweaks */
   @if not $inline-asides-on-smartphone {
      section>aside {
         margin-left:1rem!important;
      }
   }
   
   @if $inline-asides-on-smartphone {
   
      /* use flexbox to allow reordering */
      section{display:flex;flex-flow:column nowrap}
      section>*{order:0}
      section>aside{order:1}
      section>p:nth-of-type(1)~*{order:2}
      
      /* un-float the asides and stretch their widths */
      section>aside {
         float:none!important;
         width:100%;
         max-width:none;
         margin:0 auto;
      }
      section>aside>*{
         width:100%;
      }
      section>aside>iframe[width][height] {
         height:auto!important; /* kill the height attribute */
      }
      
      /* margins don't collapse in flexboxes or grids... */
      section>p{margin-top:0}
      section>aside {margin-bottom:1em!important}
      
   }
}