
@import "./gradient-functions/compute-linear-gradient-position.scss";
@import "./gradient-functions/sample-linear-gradient-at-offset.scss";

///
///   sample-gradient
///      
///      Compute the pixel color at a given coordinate within a given box.
///      
///      The $box parameter should be a map with keys "x", "y", "w", and "h", 
///      each of which should be a unitless number. The "x" and "y" keys 
///      indicate the position to sample, while the "w" and "h" keys define 
///      the box size.
///
///      The $unit-lengths parameter should be a map with unit names as keys 
///      and unitless numbers as values.
///
@function sample-gradient(
   $parsed-gradient, // output of parse-gradient(...)
   $box,
   $unit-lengths: null
) {
   $grad-type: map-get($parsed-gradient, "type");
   $stops:     map-get($parsed-gradient, "stops");
   
   @if length($stops) == 1 {
      @return nth(nth($stops, 1), 1);
   }
   
   @if $grad-type == linear {
      $distance: compute-linear-gradient-position($parsed-gradient, $box, $unit-lengths);
      
      @return sample-linear-gradient-at-offset($parsed-gradient, $distance);
   } @else if $grad-type == radial {
      
      // TODO
      
   }
   
   @return #00000000;
}