---
title: Multinomial theorem
tags:
 - math
social_media:
   description: "A walkthrough of the multinomial theorem: how do you expand the square of (a + b + c + d + e + f)? How do you do it for a different number of additions, or a different exponent?"
extra_css_files:
 - lu-math.css
table_of_contents:
 - id:    begin
   title: Let's get started
 - id:    example
   title: An example
 - id:    conclusion
   title: Conclusion
   
---
{%- include lu-math/defines.html -%}
<section>
   <p>
      Suppose you have an expression of the form <lu-math data-inline>(<var>a</var> + <var>b</var> + <var>c</var> + <var>d</var> + <var>e</var> + <var>f</var><m-nobr>){{lu_math_sq}}</m-nobr></lu-math>, and you need to expand the square in order to solve some larger equation. How do you actually do that? More generally, is there an approach we can use to expand any group of added-together terms with any exponent?
   </p>
   <p>
      Yes. It's called <a href="https://en.wikipedia.org/wiki/Multinomial_theorem">the multinomial theorem</a>.
   </p>
</section>

<section>
   <h2><a name="begin"></a>Let's get started</h2>
   <p>
      The multinomial theorem can be used to expand any expression of the form <lu-math data-inline>(<var>x<sub>1</sub></var> + <var>x<sub>2</sub></var> + ... + <var>x<sub>m</sub></var>){% include lu-math/exponent.html exponent=var_Nsca %}</lu-math>. Let's take a look at the equation:
   </p>
   <lu-math>
      <m-row>
         <span>
            (<var>x<sub>1</sub></var> + <var>x<sub>2</sub></var> + ... + <var>x<sub>m</sub></var>){% include lu-math/exponent.html exponent=var_Nsca %}<m-nobr>
             =</m-nobr> 
         </span>
         <span>
            <m-sequence data-operation="+-">
               <m-info>
                  <m-raw>&Sigma;</m-raw>
                  <m-condition>
                     <m-raw> for all </m-raw>
                     <var>k<sub>1</sub></var> + <var>k<sub>2</sub></var> + ... + <var>k<sub>m</sub></var> = {{var_Nsca}}; 
                     <var>k<sub>1</sub></var>,<var>k<sub>2</sub></var>,...,<var>k<sub>m</sub></var> &geq; 0
                     <m-raw> do: </m-raw>
                  </m-condition>
               </m-info>
               <m-content><!--
               --><m-raw>(</m-raw><!--
                        
               -->{%-
                     include lu-math/binomial-coefficient.html
                     top=var_Nsca
                     bottom="<var>k<sub>1</sub></var>,<var>k<sub>2</sub></var>,...,<var>k<sub>m</sub></var>"
                  -%}<!--
               --><m-raw> &times; </m-raw><!--
               --><m-sequence data-operation="*">
                     <m-info>
                        <m-raw>&Pi;</m-raw>
                        <m-bounds>
                           <m-raw> from </m-raw>
                           <m-bound-lower><var>t</var> = 1</m-bound-lower>
                           <m-raw> through </m-raw>
                           <m-bound-upper><var>m</var></m-bound-upper>
                           <m-raw> do: </m-raw>
                        </m-bounds>
                     </m-info>
                     <m-content><!--
                     --><m-raw>(</m-raw><!--
                        
                     --><var>x<sub>t</sub></var>{% include lu-math/exponent.html exponent="<var>k<sub>t</sub></var>" %}<!--
                        
                     --><m-raw>)</m-raw><!--
                  --></m-content>
                  </m-sequence><!--
                        
               --><m-raw>)</m-raw><!--
            --></m-content>
            </m-sequence>
         
         </span>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
   <p>
      Oh. Uh...
   </p>
   <p>
      Well, to start with, those values below the summation symbol (&Sigma;) represent conditions. We have {{var_Msca_inl}} variables named <lu-math data-inline><var>k<sub>something</sub></var></lu-math>, named <lu-math data-inline><var>k<sub>1</sub></var></lu-math> through <lu-math data-inline><var>k<sub>m</sub></var></lu-math>, and we have two conditions that apply to the lot of them. We are going to take <em>every possible combination of values</em> that meets these conditions, feed those values into the summation "body," and then compute the results and sum them all.
   </p>
   <p>
      The summation "body," meanwhile, has us multiply a collection of values &mdash; that's the capital-pi (&Pi;) symbol; it's the multiplication version of &Sigma; &mdash; and then multiply <em>that</em> by something else. The result is then added as part of the summation loop.
   </p>
   <p>
      The first condition on our summation loop is that the values must all add up to {{var_Nsca_inl}}, and the second condition is that they must all be greater than or equal to zero. This in turn implies that no one single value can be greater than {{var_Nsca_inl}}, as otherwise we'd need at least one of the others to be negative in order for this to work.
   </p>
   <p>
      <span class="different-wording-for-the-blind">
         <span class="sighted" aria-hidden="true">See the large parentheses, with the two rows and no symbol dividing them?</span>
         <span class="blind">Hear that one bit with the word "choose?" </span>
      </span>
      That's the notation for <dfn>binomial coefficients</dfn>. If we call the top number {{var_Nsca_inl}} and the bottom number {{var_Ksca_inl}}, then given the expression <lu-math data-inline>(1 + {{var_Xsca}}){% include lu-math/exponent.html exponent=var_Ksca %}</lu-math>, we can compute the coefficient of <lu-math data-inline>{{var_Xsca}}{% include lu-math/exponent.html exponent=var_Ksca %}</lu-math> as follows:
   </p>
   <lu-math>
      <m-row><!--
      --><m-fraction><!--
         --><m-numer>{{var_Nsca}}!</m-numer><!--
         --><m-raw> &divide; (</m-raw><!--
         --><m-denom><!--
            -->{{var_Ksca}}!({{var_Nsca}} - {{var_Ksca}})!<!--
         --></lu-math-deom><!--
         --><m-raw>)</m-raw><!--
      --></m-fraction>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
   <p>
      Wikipedia offers one example: <lu-math data-inline>(1 + {{var_Xsca}}){{lu_math_exps[4]}}</lu-math> is:
   </p>
   <lu-math>
      <m-layout-left data-right>
         <m-row>
            <span>
               (1 + {{var_Xsca}}){{lu_math_exps[4]}}
                = 
            </span><!--
         -->{%-
               include lu-math/binomial-coefficient.html
               top="4"
               bottom="0"
            -%}<!--
         --><span>
               {{var_Xsca}}{% include lu-math/exponent.html exponent=0 %}
                + 
            </span><!--
         -->{%-
               include lu-math/binomial-coefficient.html
               top="4"
               bottom="1"
            -%}<!--
         --><span>
               {{var_Xsca}}{% include lu-math/exponent.html exponent=1 %}
                + 
            </span><!--
         -->{%-
               include lu-math/binomial-coefficient.html
               top="4"
               bottom="2"
            -%}<!--
         --><span>
               {{var_Xsca}}{{ lu_math_sq }}
                + 
            </span><!--
         -->{%-
               include lu-math/binomial-coefficient.html
               top="4"
               bottom="3"
            -%}<!--
         --><span>
               {{var_Xsca}}{{lu_math_exps[3]}}
                + 
            </span><!--
         -->{%-
               include lu-math/binomial-coefficient.html
               top="4"
               bottom="4"
            -%}<!--
         --><span>
               {{var_Xsca}}{{lu_math_exps[4]}}
            </span>
         </m-row>
         <m-row>
            
               (1 + {{var_Xsca}}){{lu_math_exps[4]}}
            
            =
            {{lu_math_big_parens_start}}
            <m-fraction><!--
               --><m-numer>4!</m-numer><!--
               --><m-raw> &divide; (</m-raw><!--
               --><m-denom><!--
                  -->0!(4 - 0)!<!--
               --></lu-math-deom><!--
               --><m-raw>)</m-raw><!--
            --></m-fraction><!--
         -->{{lu_math_big_parens_end}}<!--
         -->{{var_Xsca}}{% include lu-math/exponent.html exponent=0 %}
            + 
            {{lu_math_big_parens_start}}
               <m-fraction><!--
               --><m-numer>4!</m-numer><!--
               --><m-raw> &divide; (</m-raw><!--
               --><m-denom><!--
                  -->1!(4 - 1)!<!--
               --></lu-math-deom><!--
               --><m-raw>)</m-raw><!--
            --></m-fraction><!--
         -->{{lu_math_big_parens_end}}<!--
         -->{{var_Xsca}}{% include lu-math/exponent.html exponent=1 %}
            + 
            {{lu_math_big_parens_start}}
               <m-fraction><!--
               --><m-numer>4!</m-numer><!--
               --><m-raw> &divide; (</m-raw><!--
               --><m-denom><!--
                  -->2!(4 - 2)!<!--
               --></lu-math-deom><!--
               --><m-raw>)</m-raw><!--
            --></m-fraction><!--
         -->{{lu_math_big_parens_end}}<!--
         -->{{var_Xsca}}{{ lu_math_sq }}
            + 
            {{lu_math_big_parens_start}}
               <m-fraction><!--
               --><m-numer>4!</m-numer><!--
               --><m-raw> &divide; (</m-raw><!--
               --><m-denom><!--
                  -->3!(4 - 3)!<!--
               --></lu-math-deom><!--
               --><m-raw>)</m-raw><!--
            --></m-fraction><!--
         -->{{lu_math_big_parens_end}}<!--
         -->{{var_Xsca}}{{lu_math_exps[3]}}
            +
            {{lu_math_big_parens_start}}
               <m-fraction><!--
               --><m-numer>4!</m-numer><!--
               --><m-raw> &divide; (</m-raw><!--
               --><m-denom><!--
                  -->4!(4 - 4)!<!--
               --></lu-math-deom><!--
               --><m-raw>)</m-raw><!--
            --></m-fraction><!--
         -->{{lu_math_big_parens_end}}<!--
         -->{{var_Xsca}}{{lu_math_exps[4]}}
         </m-row>
         <m-row>
            (1 + {{var_Xsca}}){{lu_math_exps[4]}}
            =
            {{lu_math_big_parens_start}}<m-fraction><!--
            --><m-numer>24</m-numer><!--
            --><m-raw> &divide; (</m-raw><!--
            --><m-denom><!--
               -->24<!--
            --></lu-math-deom><!--
            --><m-raw>)</m-raw><!--
         --></m-fraction>{{lu_math_big_parens_end}}<!--
         -->
                &times; 1
                + 
            <!--
         -->{{lu_math_big_parens_start}}<m-fraction><!--
            --><m-numer>24</m-numer><!--
            --><m-raw> &divide; (</m-raw><!--
            --><m-denom><!--
               -->6<!--
            --></lu-math-deom><!--
            --><m-raw>)</m-raw><!--
         --></m-fraction>{{lu_math_big_parens_end}}<!--
         -->
               {{var_Xsca}}{% include lu-math/exponent.html exponent=1 %}
                + 
            <!--
         -->{{lu_math_big_parens_start}}<m-fraction><!--
            --><m-numer>24</m-numer><!--
            --><m-raw> &divide; (</m-raw><!--
            --><m-denom><!--
               -->2 &times; 2<!--
            --></lu-math-deom><!--
            --><m-raw>)</m-raw><!--
         --></m-fraction>{{lu_math_big_parens_end}}<!--
         -->
               {{var_Xsca}}{{ lu_math_sq }}
                + 
            <!--
         -->{{lu_math_big_parens_start}}<m-fraction><!--
            --><m-numer>24</m-numer><!--
            --><m-raw> &divide; (</m-raw><!--
            --><m-denom><!--
               -->6<!--
            --></lu-math-deom><!--
            --><m-raw>)</m-raw><!--
         --></m-fraction>{{lu_math_big_parens_end}}<!--
         -->
               {{var_Xsca}}{{lu_math_exps[3]}}
                + 
            <!--
         -->{{lu_math_big_parens_start}}<m-fraction><!--
            --><m-numer>24</m-numer><!--
            --><m-raw> &divide; (</m-raw><!--
            --><m-denom><!--
               -->24<!--
            --></lu-math-deom><!--
            --><m-raw>)</m-raw><!--
         --></m-fraction>{{lu_math_big_parens_end}}<!--
         -->
               {{var_Xsca}}{{lu_math_exps[4]}}
            
         </m-row>
         <m-row>
            (1 + {{var_Xsca}}){{lu_math_exps[4]}}
            =
            1
            + 
            4{{var_Xsca}}{{lu_math_exps[1]}}
            + 
            6{{var_Xsca}}{{ lu_math_sq }}
            + 
            4{{var_Xsca}}{{lu_math_exps[3]}}
            + 
            {{var_Xsca}}{{lu_math_exps[4]}}
         </m-row>
      </m-layout-left>
   </lu-math>
   <p>
      Apparently, that generalizes to larger "multinomials;" if your multinomial has {{var_Rsca_inl}} terms in it, then you'd do:
   </p>
   <lu-math>
      <m-row><!--
      --><span>
            <m-rawcap> </m-rawcap>
            {%-
               include lu-math/binomial-coefficient.html
               top=var_Nsca
               bottom="<var>k<sub>1</sub></var>,<var>k<sub>2</sub></var>,...,<var>k<sub>r</sub></var>"
            -%}
         </span>
          = <!--
      --><m-fraction><!--
         --><m-numer>{{var_Nsca}}!</m-numer><!--
         --><m-raw> &divide; (</m-raw><!--
         --><m-denom><!--
            --><var>k<sub>1</sub></var>!<var>k<sub>2</sub></var>!...<var>k<sub>r</sub></var>!<!--
         --></lu-math-deom><!--
         --><m-raw>)</m-raw><!--
      --></m-fraction>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
   <p>
      Given a multinomial with {{var_Rsca_inl}} terms, the variable <lu-math data-inline><var>k<sub>i</sub></var></lu-math> is defined below &mdash; and as a reminder, this is summation, not a single variable:
   </p>
   <lu-math>
      <m-row>
         <span>
            <m-sequence data-operation="+-">
               <m-info>
                  <m-raw>&Sigma;</m-raw>
                  <m-bounds>
                     <m-raw> from </m-raw>
                     <m-bound-lower><var>i</var> = 1</m-bound-lower>
                     <m-raw> through </m-raw>
                     <m-bound-upper><var>r</var></m-bound-upper>
                     <m-raw> do: </m-raw>
                  </m-bounds>
               </m-info>
               <m-content><!--
               --><m-raw>(</m-raw><!--
                  
               --><var>k<sub>i</sub></var><!--
                  
               --><m-raw>)</m-raw><!--
            --></m-content>
            </m-sequence>
         </span>
         <span>
             = 
            {{var_Nsca}}
         </span>
      </m-row>
   </lu-math>
   <p>
      This is all getting pretty out-there, so let's come back to Earth by actually using this.
   </p>
</section>

<section>
   <h2><a name="example"></a>An example</h2>
   <p>
      We'll go with the example I led in with: <lu-math data-inline>({{var_Asca}} + {{var_Bsca}} + {{var_Csca}} + {{var_Dsca}} + {{var_Esca}} + {{var_Fsca}}<m-nobr>){{lu_math_sq}}</m-nobr></lu-math>. We have a multinomial that we want to square, so {{var_Nsca_inl}} is 2. Our multinomial has six terms, so {{var_Msca_inl}} is 6.
   </p>
   <lu-math>
      <m-row>
         <span>
            (<var>x<sub>1</sub></var> + <var>x<sub>2</sub></var> + <var>x<sub>3</sub></var> + <var>x<sub>4</sub></var> + <var>x<sub>5</sub></var> + <var>x<sub>6</sub></var>){{ lu_math_sq }}<m-nobr>
             =</m-nobr> 
         </span>
         <span>
            <m-sequence data-operation="+-">
               <m-info>
                  <m-raw>&Sigma;</m-raw>
                  <m-condition>
                     <m-raw> for all </m-raw>
                     <var>k<sub>1</sub></var> + <var>k<sub>2</sub></var> + ... + <var>k<sub>6</sub></var> = 2; 
                     <var>k<sub>1</sub></var>,<var>k<sub>2</sub></var>,...,<var>k<sub>6</sub></var> &geq; 0
                     <m-raw> do: </m-raw>
                  </m-condition>
               </m-info>
               <m-content><!--
               --><m-raw>(</m-raw><!--
                        
               -->{%-
                     include lu-math/binomial-coefficient.html
                     top="2"
                     bottom="<var>k<sub>1</sub></var>,<var>k<sub>2</sub></var>,...,<var>k<sub>6</sub></var>"
                  -%}<!--
               --><m-raw> &times; </m-raw><!--
               --><m-sequence data-operation="*">
                     <m-info>
                        <m-raw>&Pi;</m-raw>
                        <m-bounds>
                           <m-raw> from </m-raw>
                           <m-bound-lower>{{var_Tsca}} = 1</m-bound-lower>
                           <m-raw> through </m-raw>
                           <m-bound-upper>6</m-bound-upper>
                           <m-raw> do: </m-raw>
                        </m-bounds>
                     </m-info>
                     <m-content><!--
                     --><m-raw>(</m-raw><!--
                        
                     --><var>x<sub>t</sub></var>{% include lu-math/exponent.html exponent="<var>k<sub>t</sub></var>" %}<!--
                        
                     --><m-raw>)</m-raw><!--
                  --></m-content>
                  </m-sequence><!--
                        
               --><m-raw>)</m-raw><!--
            --></m-content>
            </m-sequence>
         
         </span>
         <m-rawcap> </m-rawcap>
      </m-row>
      <m-row>
         <span>
            (<var>x<sub>1</sub></var> + <var>x<sub>2</sub></var> + <var>x<sub>3</sub></var> + <var>x<sub>4</sub></var> + <var>x<sub>5</sub></var> + <var>x<sub>6</sub></var>){{ lu_math_sq }}<m-nobr>
             =</m-nobr> 
         </span>
         <span>
            <m-sequence data-operation="+-">
               <m-info>
                  <m-raw>&Sigma;</m-raw>
                  <m-condition>
                     <m-raw> for all </m-raw>
                     <var>k<sub>1</sub></var> + <var>k<sub>2</sub></var> + ... + <var>k<sub>6</sub></var> = 2; 
                     <var>k<sub>1</sub></var>,<var>k<sub>2</sub></var>,...,<var>k<sub>6</sub></var> &geq; 0
                     <m-raw> do: </m-raw>
                  </m-condition>
               </m-info>
               <m-content><!--
               --><m-raw>(</m-raw><!--
                        
               --><m-fraction><!--
                  --><m-numer>2!</m-numer><!--
                  --><m-raw> &divide; (</m-raw><!--
                  --><m-denom><!--
                     --><var>k<sub>1</sub></var>!<var>k<sub>2</sub></var>!...<var>k<sub>6</sub></var>!<!--
                  --></lu-math-deom><!--
                  --><m-raw>)</m-raw><!--
               --></m-fraction><!--
               --><m-raw> &times; </m-raw><!--
               --><m-sequence data-operation="*">
                     <m-info>
                        <m-raw>&Pi;</m-raw>
                        <m-bounds>
                           <m-raw> from </m-raw>
                           <m-bound-lower>{{var_Tsca}} = 1</m-bound-lower>
                           <m-raw> through </m-raw>
                           <m-bound-upper>6</m-bound-upper>
                           <m-raw> do: </m-raw>
                        </m-bounds>
                     </m-info>
                     <m-content><!--
                     --><m-raw>(</m-raw><!--
                        
                     --><var>x<sub>t</sub></var>{% include lu-math/exponent.html exponent="<var>k<sub>t</sub></var>" %}<!--
                        
                     --><m-raw>)</m-raw><!--
                  --></m-content>
                  </m-sequence><!--
                        
               --><m-raw>)</m-raw><!--
            --></m-content>
            </m-sequence>
         
         </span>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
   <p>
      This equation is a nested loop. The outermost loop has six iterator variables, and the innermost loop just goes over those. It's a bit like this:
   </p>
<pre><code>int[...][6] all_possible_k_arrays = ...;

int[6] k;

// summation (big weird "E" symbol):
sum = 0;
for each k[1], k[2], k[3], k[4], k[5], k[6] matching conditions, do:

   // capital-pi thing:
   product = 1;
   for t = 1 to k.length do
      product *= ...;
   end
   
   // multiply by factorial fraction:
   product *= ...;
   
   sum += product;
end</code></pre>
   <p>
      We need to start at the innermost loop and work our way outward to understand this, but the innermost loop uses the six "loop index" variables, <lu-math data-inline><var>k<sub>i</sub></var></lu-math>, that belong to our outer loop. That means that we need to figure out what those variables are.
   </p>
   <h3>Computing our outer loop variables</h3>
   <p>
      Let's compute the values of all possible combinations of <lu-math data-inline><var>k<sub>i</sub></var></lu-math> for our 6-term monomial. We know that there must be six of these values, they must sum to 2, and none of them can be negative.
   </p>
   <p>
      Here's a list of every possible combination of numbers (between zero and 2, inclusive) that can add up to 2:
   </p>
   <ul>
      <li>2</li>
      <li>1 + 1</li>
   </ul>
   <p>
      Of course, we need to distribute those possibilities across sets of six total numbers, where any extra numbers just get set to zero. This means we'll have a lot of repeats &mdash; the same numbers being added together, but with the numbers in different slots among the six we have available. Here's what that looks like:
   </p>
   {%- assign possibilities = "" -%}
   {%- assign count = 6 -%}
   {%- for i in (1..count) -%}
      {%- unless forloop.first -%}
         {%- assign possibilities = possibilities | append: "," -%}
      {%- endunless -%}
      {%- for j in (1..count) -%}
         {%- unless forloop.first -%}
            {%- assign possibilities = possibilities | append: "," -%}
         {%- endunless -%}
         {%- if j == i -%}
            {%- assign possibilities = possibilities | append: "2" -%}
         {%- else -%}
            {%- assign possibilities = possibilities | append: "0" -%}
         {%- endif -%}
      {%- endfor -%}
   {%- endfor -%}
   {%- for i in (1..count) -%}
      {%- for j in (i..count) offset:1 -%}
         {%- comment -%}
            The loop offset skips the i == j case.
         {%- endcomment -%}
         {%- for k in (1..count) -%}
            {%- if k != i and k != j -%}
               {%- assign possibilities = possibilities | append: ",0" -%}
            {%- else -%}
               {%- assign possibilities = possibilities | append: ",1" -%}
            {%- endif -%}
         {%- endfor -%}
      {%- endfor -%}
   {%- endfor -%}
   {%- assign possibilities      = possibilities | split: "," -%}
   {%- assign possible_set_count = possibilities.size | divided_by: 6 -%}
   <table class="fade-zeroes">
      <thead>
         <tr>
            <th>
               Form
            </th>
            {%- for i in (1..6) -%}
               <th>
                  <lu-math data-inline><var>k<sub>{{ i }}</sub></var></lu-math>
               </th>
            {%- endfor -%}
            <th>
               Expression
            </th>
            <th>
               Sum
            </th>
         </tr>
      </thead>
      <tbody>
         {%- for i in (1..possible_set_count) -%}
         {%- assign last_form = "" -%}
         <tr>
            {%- assign last_form = form -%}
            {%- assign form = "1 + 1" -%}
            {%- assign form_rowspan = possible_set_count | minus: count -%}
            {%- if i <= count -%}
               {%- assign form = "2 + 0" -%}
               {%- assign form_rowspan = count -%}
            {%- endif -%}
            
            {%- assign start = i | minus: 1 | times: count -%}
            {%- assign current_set = possibilities | slice: start, count -%}
            
            {%- for item in current_set -%}
               {%- if forloop.first and form != last_form -%}
            <th {% if i > count %}class="force-is-bottom-row"{% endif %} rowSpan="{{ form_rowspan }}">
               {{ form }}
            </th>
               {%- endif -%}
            <td data-type="number" data-value="{{ item }}" class="force-is-not-leftmost">{{ item }}</td>
            {%- endfor -%}
            <td>
               {%- for item in current_set -%}
                  {%- unless forloop.first %} + {% endunless -%}
                  {{ item }}
               {%- endfor -%}
            </td>
            <td data-type="number">
               {%- assign sum = 0 -%}
               {%- for item in current_set -%}
                  {%- assign sum = sum | plus: item -%}
               {%- endfor -%}
               {{ sum }}
            </td>
         </tr>
         {%- endfor -%}
      </tbody>
   </table>
   
   <h3>Dealing with the inner loop</h3>
   <p>
      That's a <em>lot</em> of combinations up there, but let's actually use them and see how that shakes out. The <lu-math data-inline><var>k<sub>i</sub></var></lu-math> variables are used in two ways:
   </p>
   <ul>
      <li>
         For each <lu-math data-inline><var>k<sub>i</sub></var></lu-math> in any valid set of values, we compute <lu-math data-inline><var>x<sub>i</sub></var>{% include lu-math/exponent.html exponent="<var>k<sub>i</sub></var>" %}</lu-math>. We then multply all of these together; this is the inner loop, called a <dfn>sequence of products</dfn> and indicated with the capital pi (&Pi;).
      </li>
      <li>
         After the inner loop is done, we compute the multinomial coefficient (the fraction with the factorials in it), and multiply that with the sequence of products.
      </li>
   </ul>
   <p>
      So let's start by substituting in our <lu-math data-inline><var>x<sub>i</sub></var>{% include lu-math/exponent.html exponent="<var>k<sub>i</sub></var>" %}</lu-math> values. We'll keep things simple: instead of using the actual terms from our multinomial (for <lu-math data-inline><var>x<sub>i</sub></var></lu-math>), we'll represent the whole multinomial as <lu-math data-inline>{{var_Asca}} + {{var_Bsca}} + {{var_Csca}} + {{var_Dsca}} + {{var_Esca}} + {{var_Fsca}}</lu-math>.
   </p>
   <table>
      <thead>
         <tr>
            <th>
               Form
            </th>
            {%- for i in (1..6) -%}
               <th>
                  {%- capture ex -%}<var>k<sub>{{ i }}</sub></var>{%- endcapture -%}
                  <lu-math data-inline><var>x<sub>{{ i }}</sub></var>{% include lu-math/exponent.html exponent=ex -%}</lu-math>
               </th>
            {%- endfor -%}
         </tr>
      </thead>
      <tbody>
         {%- for i in (1..possible_set_count) -%}
         {%- assign last_form = "" -%}
         {%- assign vars = "a,b,c,d,e,f" | split: "," -%}
         <tr>
            {%- assign last_form = form -%}
            {%- assign form = "1 + 1" -%}
            {%- assign form_rowspan = possible_set_count | minus: count -%}
            {%- if i <= count -%}
               {%- assign form = "2 + 0" -%}
               {%- assign form_rowspan = count -%}
            {%- endif -%}
            
            {%- assign start = i | minus: 1 | times: count -%}
            {%- assign current_set = possibilities | slice: start, count -%}
            
            {%- for item in current_set -%}
               {%- if forloop.first and form != last_form -%}
            <th {% if i > count %}class="force-is-bottom-row"{% endif %} rowSpan="{{ form_rowspan }}">
               {{ form }}
            </th>
               {%- endif -%}
               {%- assign td-classes = "force-is-not-leftmost" -%}
               {%- if item == "0" -%}
                  {%- assign td-classes = td-classes | append: " deemphasize" -%}
               {%- endif -%}
            <td class="{{ td-classes }}">
               <lu-math data-inline><var>{{ vars[forloop.index0] }}</var>{%- include lu-math/exponent.html exponent=item %}</lu-math>
            </td>
            {%- endfor -%}
         </tr>
         {%- endfor -%}
      </tbody>
   </table>
   <p>
      Now, if you take any value to the zeroth power, then you get 1, so we can strike a lot of terms from that table and just replace them with ones. Similarly, a term to the first power is just itself, so we can strip the exponent.
   </p>
   <table>
      <thead>
         <tr>
            <th>
               Form
            </th>
            {%- for i in (1..6) -%}
               <th>
                  {%- capture ex -%}<var>k<sub>{{ i }}</sub></var>{%- endcapture -%}
                  <lu-math data-inline><var>x<sub>{{ i }}</sub></var>{% include lu-math/exponent.html exponent=ex -%}</lu-math>
               </th>
            {%- endfor -%}
         </tr>
      </thead>
      <tbody>
         {%- for i in (1..possible_set_count) -%}
         {%- assign last_form = "" -%}
         {%- assign vars = "a,b,c,d,e,f" | split: "," -%}
         <tr>
            {%- assign last_form = form -%}
            {%- assign form = "1 + 1" -%}
            {%- assign form_rowspan = possible_set_count | minus: count -%}
            {%- if i <= count -%}
               {%- assign form = "2 + 0" -%}
               {%- assign form_rowspan = count -%}
            {%- endif -%}
            
            {%- assign start = i | minus: 1 | times: count -%}
            {%- assign current_set = possibilities | slice: start, count -%}
            
            {%- for item in current_set -%}
               {%- if forloop.first and form != last_form -%}
            <th {% if i > count %}class="force-is-bottom-row"{% endif %} rowSpan="{{ form_rowspan }}">
               {{ form }}
            </th>
               {%- endif -%}
               {%- assign td-classes = "force-is-not-leftmost" -%}
               {%- if item == "0" -%}
                  {%- assign td-classes = td-classes | append: " deemphasize" -%}
               {%- endif -%}
            <td class="{{ td-classes }}">
               {%- if item == "0" -%}
                  1
               {%- else -%}
                  <lu-math data-inline>
                     <var>{{ vars[forloop.index0] }}</var>
                     {%- if item != "1" -%}
                        {%- include lu-math/exponent.html exponent=item %}
                     {%- endif -%}
                  </lu-math>
               {%- endif -%}
            </td>
            {%- endfor -%}
         </tr>
         {%- endfor -%}
      </tbody>
   </table>
   <p>
      Now let's add the multinomial coefficients to the table:
   </p>
   <table>
      <thead>
         <tr>
            <th>
               Form
            </th>
            {%- for i in (1..6) -%}
               <th>
                  <lu-math data-inline>{{var_Isca}} = {{ i }}</lu-math>
               </th>
            {%- endfor -%}
            <th><abbr title="Multinomial Coefficients">MCs</abbr></th>
         </tr>
      </thead>
      <tbody>
         {%- assign two_factorial = 2 | times: 1 -%}
         {%- for i in (1..possible_set_count) -%}
         {%- assign last_form = "" -%}
         {%- assign vars = "a,b,c,d,e,f" | split: "," -%}
         <tr>
            {%- assign last_form = form -%}
            {%- assign form = "1 + 1" -%}
            {%- assign form_rowspan = possible_set_count | minus: count -%}
            {%- if i <= count -%}
               {%- assign form = "2 + 0" -%}
               {%- assign form_rowspan = count -%}
            {%- endif -%}
            
            {%- assign start = i | minus: 1 | times: count -%}
            {%- assign current_set = possibilities | slice: start, count -%}
            
            {%- for item in current_set -%}
               {%- if forloop.first and form != last_form -%}
            <th {% if i > count %}class="force-is-bottom-row"{% endif %} rowSpan="{{ form_rowspan }}">
               {{ form }}
            </th>
               {%- endif -%}
               {%- assign td-classes = "force-is-not-leftmost" -%}
               {%- if item == "0" -%}
                  {%- assign td-classes = td-classes | append: " deemphasize" -%}
               {%- endif -%}
            <td class="{{ td-classes }}">
               {%- if item == "0" -%}
                  1
               {%- else -%}
                  <lu-math data-inline>
                     <var>{{ vars[forloop.index0] }}</var>
                     {%- if item != "1" -%}
                        {%- include lu-math/exponent.html exponent=item %}
                     {%- endif -%}
                  </lu-math>
               {%- endif -%}
            </td>
            {%- endfor -%}
            <td data-type="number">
               {%- assign numer = 2 -%}
               {%- assign denom = 1 -%}
               {%- for item in current_set -%}
                  {%- assign fact = 1 -%}
                  {%- for n in (1..item) -%}
                     {%- assign fact = fact | times: n -%}
                  {%- endfor -%}
                  {%- assign denom = denom | times: fact -%}
               {%- endfor -%}
               {%- if denom == 0 -%}
                  {%- assign denom = 1 -%}
               {%- endif -%}
               {%- assign denom = numer | divided_by: denom -%}
               {{ denom }}
            </td>
         </tr>
         {%- endfor -%}
      </tbody>
   </table>
   
   <h3>Putting it all together</h3>
   <p>
      Remember that each row represents a valid set of possible values for the <lu-math data-inline><var>k<sub>1</sub></var></lu-math> through <lu-math data-inline><var>k<sub>6</sub></var></lu-math> variables. Each row represents the values we'll use in this part of the formula:
   </p>
   <lu-math>
      <m-row>
         <m-rawcap> </m-rawcap>
         <span>
            <m-fraction><!--
            --><m-numer>2!</m-numer><!--
            --><m-raw> &divide; (</m-raw><!--
            --><m-denom><!--
               --><var>k<sub>1</sub></var>!<var>k<sub>2</sub></var>!...<var>k<sub>6</sub></var>!<!--
            --></lu-math-deom><!--
            --><m-raw>)</m-raw><!--
         --></m-fraction><!--
         --><m-raw> &times; </m-raw><!--
         --><m-sequence data-operation="*">
               <m-info>
                  <m-raw>&Pi;</m-raw>
                  <m-bounds>
                     <m-raw> from </m-raw>
                     <m-bound-lower>{{var_Tsca}} = 1</m-bound-lower>
                     <m-raw> through </m-raw>
                     <m-bound-upper>6</m-bound-upper>
                     <m-raw> do: </m-raw>
                  </m-bounds>
               </m-info>
               <m-content><!--
               --><m-raw>(</m-raw><!--
                  
               --><var>x<sub>t</sub></var>{% include lu-math/exponent.html exponent="<var>k<sub>t</sub></var>" %}<!--
                  
               --><m-raw>)</m-raw><!--
            --></m-content>
            </m-sequence>
         </span>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
   <p>
      If we multiply all the items in a row together, then we'll get the result of that expression for that given set of <lu-math data-inline><var>k<sub>i</sub></var></lu-math> values. Let's see what that looks like. We can skip every cell in the table that's just the number 1, so in practice, 90% of that table is gone:
   </p>
   <table>
      <thead>
         <tr>
            <th>Form</th>
            <th>Full entry</th>
            <th>Collapsed</th>
            <th>Final</th>
         </tr>
      </thead>
      <tbody>
         {%- assign vars = "a,b,c,d,e,f" | split: "," -%}
         {%- for i in (1..possible_set_count) -%}
            {%- assign start = i | minus: 1 | times: count -%}
            {%- assign current_set = possibilities | slice: start, count -%}
            
            {%- assign last_form = form -%}
            {%- assign form = "1 + 1" -%}
            {%- assign form_rowspan = possible_set_count | minus: count -%}
            {%- if i <= count -%}
               {%- assign form = "2 + 0" -%}
               {%- assign form_rowspan = count -%}
            {%- endif -%}
            
            {%- assign numer = 2 -%}
            {%- assign denom = 1 -%}
            {%- for item in current_set -%}
               {%- assign fact = 1 -%}
               {%- for n in (1..item) -%}
                  {%- assign fact = fact | times: n -%}
               {%- endfor -%}
               {%- assign denom = denom | times: fact -%}
            {%- endfor -%}
            {%- if denom == 0 -%}
               {%- assign denom = 1 -%}
            {%- endif -%}
            {%- assign frac = numer | divided_by: denom -%}
            
            <tr>
               {%- if form != last_form -%}
               <th {% if i > count %}class="force-is-bottom-row"{% endif %} rowSpan="{{ form_rowspan }}">
                  {{ form }}
               </th>
               {%- endif -%}
               <td class="force-is-not-leftmost">
                  {%- for item in current_set -%}
                     {%- unless forloop.first %} &times; {% endunless -%}
                     {%- if item != "0" -%}
                        <lu-math data-inline>
                           <var>{{ vars[forloop.index0] }}</var>
                           {%- if item != "1" -%}
                              {%- include lu-math/exponent.html exponent=item %}
                           {%- endif -%}
                        </lu-math>
                     {%- else -%}
                        1
                     {%- endif -%}
                  {%- endfor %} &times; {{frac}}
               </td>
               <td>
                  {%- assign wrote_any = false -%}
                  {%- for item in current_set -%}
                     {%- if item != "0" -%}
                        {%- unless wrote_any == false %} &times; {% endunless -%}
                        {%- assign wrote_any = true -%}
                        <lu-math data-inline>
                           <var>{{ vars[forloop.index0] }}</var>
                           {%- if item != "1" -%}
                              {%- include lu-math/exponent.html exponent=item %}
                           {%- endif -%}
                        </lu-math>
                     {%- endif -%}
                  {%- endfor %} &times; {{frac}}
               </td>
               <td>
                  {%- if frac != 1 -%}
                     {{ frac }}
                  {%- endif -%}
                  <lu-math data-inline>
                  {%- for item in current_set -%}
                     {%- if item != "0" -%}
                           <var>{{ vars[forloop.index0] }}</var>
                           {%- if item != "1" -%}
                              {%- include lu-math/exponent.html exponent=item %}
                           {%- endif -%}
                     {%- endif -%}
                  {%- endfor -%}
                  </lu-math>
               </td>
            </tr>
         {%- endfor -%}
      </tbody>
   </table>
   <p>
      So those are all the possible values of that one expression. Where were we using it again?
   </p>
   <lu-math>
      <m-row>
         <span>
            ({{var_Asca}} + {{var_Bsca}} + {{var_Csca}} + {{var_Dsca}} + {{var_Esca}} + {{var_Fsca}}){{lu_math_sq}}<m-nobr>
             =</m-nobr> 
         </span>
         <span>
            <m-sequence data-operation="+-">
               <m-info data-no-params>
                  <m-raw>&Sigma;</m-raw>
                  <m-condition> </m-condition>
               </m-info>
               <m-content><!--
               --><m-raw>(</m-raw><!--
                        
               --><label>It all goes here.</label><!--
                        
               --><m-raw>)</m-raw><!--
            --></m-content>
            </m-sequence>
         
         </span>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
   <p>
      Right! We were going to add those final items together. Let's see what that looks like:
   </p>
   <lu-math>
      <m-row>
         <span>
            ({{var_Asca}} + {{var_Bsca}} + {{var_Csca}} + {{var_Dsca}} + {{var_Esca}} + {{var_Fsca}}){{ lu_math_sq }}<m-nobr>
             =</m-nobr> 
         </span>
         <span>
            {%- assign vars = "a,b,c,d,e,f" | split: "," -%}
            {%- for i in (1..possible_set_count) -%}
               {%- assign start = i | minus: 1 | times: count -%}
               {%- assign current_set = possibilities | slice: start, count -%}
               
               {%- unless forloop.first %} + {% endunless -%}
               
               {%- assign numer = 2 -%}
               {%- assign denom = 1 -%}
               {%- for item in current_set -%}
                  {%- assign fact = 1 -%}
                  {%- for n in (1..item) -%}
                     {%- assign fact = fact | times: n -%}
                  {%- endfor -%}
                  {%- assign denom = denom | times: fact -%}
               {%- endfor -%}
               {%- if denom == 0 -%}
                  {%- assign denom = 1 -%}
               {%- endif -%}
               {%- assign denom = numer | divided_by: denom -%}
               {%- if denom != 1 -%}
                  {{ denom }}
               {%- endif -%}
               
               {%- for item in current_set -%}
                  {%- if item != "0" -%}
                     <var>{{ vars[forloop.index0] }}</var>
                     {%- if item != "1" -%}
                        {%- include lu-math/exponent.html exponent=item %}
                     {%- endif -%}
                  {%- endif -%}
               {%- endfor -%}
            {%- endfor -%}
         </span>
         <m-rawcap> </m-rawcap>
      </m-row>
   </lu-math>
</section>

<section>
   <h2><a name="conclusion"></a>Conclusion</h2>
   <p>
      This overall process can be followed for a multinomial of any size {{var_Msca_inl}}, being raised to any exponent {{var_Nsca_inl}}. You want to create a table like the ones above, listing out every combination of {{var_Msca_inl}} many numbers (each between 0 and {{var_Nsca_inl}}) that add up to {{var_Nsca_inl}}. You can then mimic the process above, and get your result.
   </p>
</section>