{%- comment -%}
   Display a function definition. Params:
   
   include.name
      String. Name of the function.
   
   include.args
      Array of String. Arguments in the function.
{%- endcomment -%}
<m-function-def><!--
--><m-name>{{ include.name }}</m-name><!--
--><m-args><!--
   --><m-delim>(</m-delim>
      {%- for arg in include.args -%}
         <m-arg>{{ arg }}</m-arg>
         {%- unless forloop.last -%}
            <m-sep>, </m-sep>
         {%- endunless -%}
      {%- endfor -%}
      <m-delim>)</m-delim><!--
--></m-args><!--
--></m-function-def>