<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
      <title>{{ page.title }}</title>
      <link rel="icon" href="assets/favicon.ico" type="image/x-icon" sizes="64" />
      <link rel="icon" href="assets/favicon64.png" type="image/png" sizes="64" />
      <link rel="icon" href="assets/favicon128.png" type="image/png" sizes="128" />
      <link rel="icon" href="assets/favicon.svg" type="image/svg+xml" sizes="any" />
   </head>
   <body>
      <header role="banner">
         <h1>Cobb</h1>
      </header>
      <div id="content">
         <nav>
            <ul>
               <li><a href="{{ '/' | relative_url }}">About me</a></li>
               <li><a href="https://github.com/DavidJCobb">On Github</a></li>
            </ul>
            
            <h2>Major works</h2>
            <ul>
               <li>
                  <span><a href="{{ 'major/cobb-pos.html' | relative_url }}">Cobb Positioner</a> (2016)</span>
                  <p>
                     An in-game map editor for <i>The Elder Scrolls V: Skyrim</i>.
                  </p>
               </li>
               <li>
                  <span><a href="{{ 'major/northernui.html' | relative_url }}">NorthernUI</a> (2018)</span>
                  <p>
                     A UI and controls overhaul for <i>The Elder Scrolls IV: Oblivion</i>, 
                     relying on handmade graphics and injected C++ code.
                  </p>
               </li>
               <li>
                  <span><a href="{{ 'major/itemtrig.html' | relative_url }}">ItemTrig</a> (2019)</span>
                  <p>
                     An inventory management tool for <i>Elder Scrolls Online</i>, written 
                     in Lua.
                  </p>
               </li>
               <li>
                  <span><a href="{{ 'major/rvt.html' | relative_url }}">ReachVariantTool</a> (2020)</span>
                  <p>
                     A script editor for <i>Halo: Reach</i> multiplayer, written in C++ with 
                     the Qt UI framework.
                  </p>
               </li>
            </ul>
            
            <h2>Minor works</h2>
            <ul>
               <li>
                  <span><a href="{{ 'major/cobb-bug-fixes.html' | relative_url }}">Cobb Bug Fixes</a> (2019)</span>
                  <p>
                     An assortment of bug fixes for <i>The Elder Scrolls V: Skyrim</i>'s 
                     engine, applied via code injection.
                  </p>
               </li>
               <li>
                  <span><a href="{{ 'major/cobb-enc.html' | relative_url }}">Cobb Encumbrance</a> (2015)</span>
                  <p>
                     A mod for <i>The Elder Scrolls V: Skyrim</i> which uses some unusual 
                     tricks to alter how inventory management works.
                  </p>
               </li>
               <li>
                  <span><a href="{{ 'major/eso-death.html' | relative_url }}">ESO Death and Resurrection</a> (2018)</span>
                  <p>
                     A mod for <i>The Elder Scrolls V: Skyrim</i> which implements death and 
                     respawn mechanics from <i>Elder Scrolls Online</i>.
                  </p>
               </li>
               <li>
                  <span><a href="{{ 'major/skyrim-outfit-system.html' | relative_url }}">Skyrim Outfit System</a> (2019)</span>
                  <p>
                     A mod for <i>The Elder Scrolls V: Skyrim</i> which uses code injection 
                     to alter outfit customization.
                  </p>
               </li>
            </ul>
         </nav>
         <main>
{{ content }}
         </main>
      </div>
   </body>
</html>