<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
   <head>
      <meta charset="utf-8" />
      {%- if page.replace_css_files -%}
         {%- for filename in page.replace_css_files -%}
            {%- capture current_path %}assets/{{ filename }}{% endcapture -%}
      <link rel="stylesheet" href="{{ current_path | relative_url }}" />
         {%- endfor -%}
      {%- else -%}
      <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
      {%- endif %}
      {%- include html-head.html -%}
   </head>
   <body>
      <div id="content">
         {%- if page.title != "Cobb" %}
         <header role="banner" class="grand-header-cluster">
            <h1 class="grand-header no-descenders">Cobb</h1>
            <h2 class="grand-header">{{ page.title }}</h2>
         </header>
         {%- else %}
         <header role="banner">
            <h1 class="grand-header no-descenders">Cobb</h1>
         </header>
         {%- endif -%}
         <main>
{{ content }}
         </main>
      </div>
      {%- include footer.html -%}
   </body>
</html>