<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="{{ '/assets/layout-with-sidebar.css' | relative_url }}" />
      {%- include html-head.html -%}
   </head>
   <body>
      {%- assign collection_info = empty -%}
      {%- if page.collection %}
         {%- assign collection_info = site.collections | where: "label", page.collection | first -%}
      {%- endif -%}
      <a id="skip-to-content" href="#page-content">Skip to main content.</a>
      <aside id="socials">
         <header>Find me on...</header>
         <ul>
            <li class="github">
               <a href="https://github.com/davidjcobb">GitHub</a>
            </li>
            <li class="nexus">
               <a href="https://www.nexusmods.com/users/9663214">NexusMods</a>
            </li>
         </ul>
      </aside>
      <nav id="site-chrome">
         {%- if page.collection %}
         <details id="site-nav">
            <summary>
               {%- if collection_info and collection_info.name != "" -%}
                  {{ collection_info.name }}
               {%- else -%}
                  More like this
               {%- endif -%}
            </summary>
            <menu>
               {%- for article in site[page.collection] limit:5 %}
               <li>
                  {%- if article.id == page.id -%}
                  <a class="you-are-here">
                  {%- else -%}
                  <a href="{{ article.url }}">
                  {%- endif -%}
                     {{- article.title -}}
                  </a>
               </li>
               {%- endfor %}
               <li class="view-all">
                  <a href="{{ page.collection | prepend: '/' | append: '/' | absolute_url }}">View all</a>
               </li>
            </menu>
         </details>
         {%- endif -%}
         <a id="logo" href="{{ '/' | absolute_url }}">
            {%- comment -%}
               Set an explicit size on this because browsers render SVGs as full-screen by default; we want 
               to ensure relatively sane behavior while the stylesheet loads
            {%- endcomment -%}
            <img width="100" height="100" alt="Cobb - home page" src="{{ '/assets/favicon.svg' | relative_url }}" type="image/svg+xml" />
         </a>
      </nav>
      <div id="content">
{% if page.table_of_contents %}
         <nav id="page-nav">
            <details open>
               <summary>Table of contents</summary>
               <menu>
{%- for item in page.table_of_contents -%}
   {%- unless item.id and item.title -%}
      {%- continue -%}
   {%- endunless -%}
   <li><a href="#{{ item.id }}">{{ item.title }}</a></li>
{%- endfor -%}
               </menu>
            </details>
         </nav>
{% endif %}
         <a name="page-content"></a>
         <header role="banner">
            <h1 class="grand-header">{{ page.title }}</h1>
         </header>
{%- if page.show_github_history or collection_info.show_github_history -%}
   {%- assign source_path = page.path -%}
   {%- if page.collection -%}
      {%- assign source_path = page.relative_path -%}
   {%- endif -%}
         <nav id="page-github-history" aria-label="Document info">
            <a href="{{ site.github.repository_url }}/commits/{{ site.github.source.branch }}/{{ source_path }}">revision history</a>
            <a href="{{ site.github.repository_url }}/blame/{{ site.github.source.branch }}/{{ source_path }}">git blame</a>
         </nav>
{%- endif -%}
         <main>
{{ content }}
         </main>
      </div>
      {%- include footer.html -%}
   </body>
</html>