
@import "utils"; // text-shadows-for-outline
@import "./utils/_unpack-backgrounds.function.scss";

/* start include guard */
$include-guard-layout-page-github-history: false !default;
@if not $include-guard-layout-page-github-history {
   $include-guard-layout-page-github-history: true;

#page-github-history {
   grid-area: header; /* same box as the page header */
   align-self: end;
   margin:0 0 .5em;
   
   order:10; /* show in front of header */
   
   display:flex;
   flex-flow:row nowrap;
   width:min-content;
   gap:.5rem;
   
   font-size:.85em;
   
   >a {
      @extend %cannot-handle-auto-dark-mode;
      $inset: 2px;
   
      line-height:1.5em;
      text-align:center;
      text-decoration:none;
      white-space:nowrap;
      
      display:block;
      padding:$inset 1em calc(0.25em + #{$inset});
      border-radius:1em;
      background:rgba(255, 255, 255, 0.8);
      
      background: unpack-backgrounds( append( (), $theme-scanline-background-layer, comma) ), rgba(255, 255, 255, 0.65);
      text-shadow:
         text-shadows-for-outline(rgba(255, 255, 255, 0.5)),
          4px 0 4px #FFF,
         -4px 0 4px #FFF
      ;
      
      &:hover {
         background-color: rgba(255, 255, 255, 0.8) !important;
      }
      
      position:relative;
      &::after {
         content:"";
         pointer-events:none;
         user-select:none;
         
         position:absolute;
         inset:2px;
         border-radius:inherit;
         
         border:2px solid #AAA;
      }
   }
}

/* end include guard */
}