
// based on:
// https://kittygiraudel.com/2014/01/15/casting-a-string-to-a-number-in-sass/

///
///   cast-to-number
///
///      Converts the input `$string` to a numeric value, if possible.
///
///      If `$allow-potential-units` is `true`, then parsing stops at the first 
///      non-numeric character; otherwise, parsing fails at any non-numeric 
///      character.
///
///      Accepts minus signs at the start of the string. Does not trim the 
///      string or otherwise ignore whitespace.
///
///      Optionally allows you to specify the numeric base. Bases higher than 
///      16 are not supported.
///
@function cast-to-number($string, $base: 10, $allow-potential-units: true) {
   @if type-of($string) == "number" {
      @return $string;
   }
   
   $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
   $numbers: 0 1 2 3 4 5 6 7 8 9;
   
   @if $base < 10 {
      $s: ();
      $n: ();
      @for $i from 1 through $base {
         $s: append($s, nth($strings, $i));
         $n: append($n, nth($numbers, $i));
      }
      $strings: $s;
      $numbers: $n;
   } @else if $base > 10 {
      @if $base > 16 {
         @error "base too high (#{$base})";
      }
      
      $s: 'A' 'B' 'C' 'D' 'E' 'F';
      $n: 10 11 12 13 14 15;
   
      @for $i from 10 through $base - 1 {
         $strings: append($strings, nth($s, $i - 9));
         $numbers: append($numbers, nth($n, $i - 9));
      }
      
      $string: to-upper-case($string);
   }
   
   $result: 0;
   $sign:   1;
   @for $i from 1 through str-length($string) {
      $character: str-slice($string, $i, $i);
      $index:     index($strings, $character);

      @if not $index {
         @if $character == "%" and ($allow-potential-units or $i == str-length($string)) {
            $result: $result * 1%;
            $result: $result * $sign;
            @return $result;
         } @else if $character == "-" and $i == 1 {
            $sign: $sign * -1;
         } @else {
            @if $i == 1 or not $allow-potential-units {
               @error "Unknown character `#{$character}` at position ${i} in string #{inspect($string)}";
            }
            $result: $result * $sign;
            @return $result;
         }
      } @else {
         $number: nth($numbers, $index);
         $result: $result * $base + $number;
      }
   }
   $result: $result * $sign;
   @return $result;
}